* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#drum-machine {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: 1fr repeat(3, 100px);
	justify-content: center;
	width: fit-content;
	box-shadow: 0 0 15px 5px grey;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	.drum-pad {
		border: none;
        box-shadow: 0 0 3px 2px rgb(219, 219, 219);
	}
	#display {
		box-shadow: 0 0 5px 2px grey;
		height: 100px;
		grid-column-start: 1;
		grid-column-end: 4;
        font-size: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

	}
}
